[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/home/mint/.config/conky/conky_start.sh
Environment=DISPLAY=:1
[Install]
WantedBy=default.target